{% extends 'SWebSemanticSocialWebBundle::base.html.twig' %}

{% block jumbotron %}

  <h1>Semantic Social Web</h1>
  <p>Find someone in your “personal network” who can help you out ­ e.g. an expert in “web 
technologies”, who could help you with a project, or someone with connections to company X, 
who could introduce you to someone there in order for you to get an internship.</p>

{% endblock %}


{% block body %}
  <div class="row">
    <div class="col-md-4">
      <h2>Backpack Integrated</h2>
      <p>We have loaded all data about your courses from usebackpack.com for you. Analyze your network based on this information</p>
    </div>
    <div class="col-md-4">
      <h2>Get Connected</h2>
      <p>See custom recommendations about who has similar interests and how you are connected with specific people.</p>
      <p><a class="btn btn-default" href="{{ path('predefined_queries') }}" role="button">View Connections &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Understand the Structure</h2>
      <p>Browse the interactive visualization of the academic network model underlying the predictions.</p>
      <p><a class="btn btn-default" href="{{ path('ontology_visualization') }}" role="button">View details &raquo;</a></p>
    </div>
  </div>
{% endblock %}
