{% extends 'SWebSemanticSocialWebBundle::base.html.twig' %}

{% block jumbotron %}

    <h1>Find Your Connections</h1>
    <p>Use the predefined queries to find how people are connected.</p>

{% endblock %}


{% block body %}

    <p>Rahul's queries to be included here.</p>

{% endblock %}
