{% extends 'SWebSemanticSocialWebBundle::base.html.twig' %}

{% block jumbotron %}

    <h1>Find Your Connections</h1>
    <p>Find relevant information based on your preferences.</p>

{% endblock %}


{% block body %}
    <h2>Two Step relationship between <i>{{ person1 }}</i> and <i>{{ person2 }}</i>:</h2>

    {% for item in results %}
      <p>
        {{ item.r1 }} - {{ item.r2 }}
      </p>
    {% endfor %}

{% endblock %}
