{% extends 'SWebSemanticSocialWebBundle::base.html.twig' %}

{% block jumbotron %}

    <h1>Find Your Connections</h1>
    <p>Find relevant information based on your preferences.</p>

{% endblock %}


{% block body %}
    <h2>People sharing an interest in <i>{{ interest }}</i>:</h2>
    <div style="width:40%">
      {% for item in results %}
        {{ include('SWebSemanticSocialWebBundle:EntityDisplay:person.html.twig', { 'entity': item }) }}
        <hr>
      {% endfor %}
    </div>
{% endblock %}
