{% extends 'SWebSemanticSocialWebBundle::base.html.twig' %}

{% block jumbotron %}

    <h1>About</h1>
    <p>This project was developed as part of the course <em>Semantic Web</em> at <a href="http://www.iiitd.ac.in/">IIIT Delhi</a>.</p>

{% endblock %}


{% block body %}

    <p>Semantic Web</p>
    <p>CSE 632</p>
    <p>Rahul Sharma, Sebastian Leidig</p>

{% endblock %}
