{% extends 'SWebSemanticSocialWebBundle::base.html.twig' %}

{% block jumbotron %}

    <h1>SPARQL Forms</h1>
    <p>Query and manipulate the data directly using SPARQL.</p>

{% endblock %}


{% block body %}

     <iframe src="http://localhost:3030/control-panel.tpl" width="100%" height="820"></iframe> 

{% endblock %}
